@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap");
.u-flex-self-center {
  align-self: center;
}

.u-flex-column {
  display: flex;
  flex-direction: column;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
}

.btn {
  display: inline-block;
  background: linear-gradient(to right bottom, #3a8ef6, #6f3afa);
  color: white;
  text-decoration: none;
  box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.btn--smallest {
  font-size: 0.7rem;
  padding: 0.1rem 0.5rem;
  border-radius: 0.3rem;
}
.btn--small {
  font-size: 1rem;
  padding: 0.1rem 0.5rem;
  border-radius: 0.3rem;
}
.btn--normal {
  font-size: 1.6rem;
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem;
}
.btn--big {
  font-size: 2rem;
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem;
}
.btn--biggest {
  font-size: 2.5rem;
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem;
}
.btn:hover,
.btn :active {
  background: linear-gradient(to right bottom, rgb(82.3859223301, 155.9878640777, 247.1140776699), rgb(129.1782178218, 82.8688118812, 250.6311881188));
  transition: all 0.15s;
}
.btn:active {
  transform: scale(0.98);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

.input {
  font-size: 1.6rem;
  padding: 0.8rem 2rem;
  border: grey 2px solid;
  border-radius: 0.5rem;
  width: 100%;
}
.input::placeholder {
  color: grey;
  opacity: 0.7;
}
.input--invalid,
.input :invalid {
  border-color: #f29092;
}
.input--valid,
.input :valid {
  border-color: #67d565;
}
.input--focus, .input:focus {
  border-color: #93b4ff;
}

.input-fake {
  position: relative;
  font-size: 1.6rem;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  width: 100%;
  color: white;
  background-color: linear-gradient(to right, #3a8ef6, #6f3afa);
}
.input-fake .icon {
  color: white;
}

.container__frame {
  background-color: #fffdfc;
  border-radius: 2rem;
  min-height: 20rem;
  margin: 5rem 5rem;
  padding: 5rem 10rem;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
}

.header__frame {
  background-color: #fffdfc;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  position: sticky;
}

.titulo__frame {
  font-size: 2.5rem;
  font-weight: 900;
  background: linear-gradient(to right, #3a8ef6, #6f3afa);
  -webkit-background-clip: text;
  color: transparent;
  margin: 0 auto 2rem auto;
  font-family: "Poppins", sans-serif;
}

.horizontal-form {
  display: flex;
  flex-direction: row;
}

.subtitulo {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  background: linear-gradient(50deg, #3A8EF6, #6F3AFA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input::placeholder {
  color: #4182F6;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.ca__container_usuario {
  display: flex;
  align-items: center;
}

.ca__button {
  display: flex;
  justify-content: center;
}

.ca__conteudo {
  background-color: #FFFDFC;
  border-radius: 10px;
  width: 60vw;
  padding-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: solid 1px;
  color: #4182F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  justify-content: flex-start;
  align-items: flex-start;
}

.ca__conteudo::placeholder {
  font-family: "Sora", sans-serif;
  font-weight: 60;
  font-size: 10rem;
  color: red;
}

.ca__container_informaçoes {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

img {
  border-radius: 50%;
  width: 30rem;
  margin-left: -9rem;
}

.input-group {
  position: relative;
}

.input-icone {
  padding-right: 4rem;
}

.icon {
  position: absolute;
  font-size: 2.5rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.icon--light {
  color: #3a8ef6;
}
.icon--white {
  color: #fffdfc;
}

.header {
  background-color: #fffdfc;
  display: flex;
  width: 100vw;
  height: 6rem;
  padding: 0 10rem;
  border-bottom-left-radius: 2.2rem;
  border-bottom-right-radius: 2.2rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /* Corpo-da-página */
}
.header__logo {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  background: linear-gradient(50deg, #3a8ef6, #6f3afa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__nav {
  display: flex;
  gap: 3rem;
}
.header__nav-item {
  color: rgb(112, 107, 107);
  font-family: "Sora", sans-serif;
  text-decoration: none;
}
.header__nav-item--selected {
  color: #3a8ef6;
  border-bottom: 3px solid #3a8ef6;
}
.header__nav-item:hover {
  color: #3a8ef6;
}
.header__profile-container {
  border-radius: 3rem;
  width: 20rem;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fffdfc;
  background: linear-gradient(90deg, #3a8ef6, #6f3afa);
}
.header__profile-img {
  border-radius: 50%;
  width: 4rem;
  margin-left: -1rem;
}
.header__profile-name-container {
  display: flex;
  flex-direction: column;
  font-family: "Sora", sans-serif;
}
.header__profile-name-role {
  font-size: 1rem;
}
.header .container {
  background-color: #fffdfc;
  border-radius: 2rem;
  min-height: 20em;
  margin: 5rem;
  box-shadow: 0px 5px 6px 0px rgba(20, 20, 20, 0.5);
}

/*# sourceMappingURL=estilo.css.map */
