@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap");
.u-flex-self-center {
  align-self: center;
}

.u-flex-column {
  display: flex;
  flex-direction: column;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Sora", sans-serif;
  font-size: 1.6rem;
  height: 100vh;
}

.btn {
  display: inline-block;
  background: linear-gradient(to right bottom, #3a8ef6, #6f3afa);
  color: white;
  text-decoration: none;
  box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.btn--smallest {
  font-size: 0.7rem;
  padding: 0.1rem 0.5rem;
  border-radius: 0.3rem;
}
.btn--small {
  font-size: 1rem;
  padding: 0.1rem 0.5rem;
  border-radius: 0.3rem;
}
.btn--normal {
  font-size: 1.6rem;
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem;
}
.btn--big {
  font-size: 2rem;
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem;
}
.btn--biggest {
  font-size: 2.5rem;
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem;
}
.btn:hover,
.btn :active {
  background: linear-gradient(to right bottom, rgb(82.3859223301, 155.9878640777, 247.1140776699), rgb(129.1782178218, 82.8688118812, 250.6311881188));
  transition: all 0.15s;
}
.btn:active {
  transform: scale(0.98);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

.input {
  font-size: 1.6rem;
  padding: 0.8rem 2rem;
  border: grey 2px solid;
  border-radius: 0.5rem;
  width: 100%;
}
.input::placeholder {
  color: grey;
  opacity: 0.7;
}
.input--invalid,
.input :invalid {
  border-color: #f29092;
}
.input--valid,
.input :valid {
  border-color: #67d565;
}
.input--focus, .input:focus {
  border-color: #93b4ff;
}

.input-fake {
  position: relative;
  font-size: 1.6rem;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  width: 100%;
  color: white;
  background-color: linear-gradient(to right, #3a8ef6, #6f3afa);
}
.input-fake .icon {
  color: white;
}

.container__frame {
  background-color: #fffdfc;
  border-radius: 2rem;
  min-height: 20rem;
  margin: 5rem 5rem;
  padding: 5rem 10rem;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
}

.header__frame {
  background-color: #fffdfc;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  position: sticky;
}

.titulo__frame {
  font-size: 2.5rem;
  font-weight: 900;
  background: linear-gradient(to right, #3a8ef6, #6f3afa);
  -webkit-background-clip: text;
  color: transparent;
  margin: 0 auto 2rem auto;
  font-family: "Poppins", sans-serif;
}

.horizontal-form {
  display: flex;
  flex-direction: row;
}

.item-list {
  background: linear-gradient(90deg, #3A8EF6, #6F3AFA);
  width: 50rem;
  height: 3.6rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.item-list label {
  color: white;
}
.item-list i {
  color: #fffdfc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  font-family: "Sora", sans-serif;
  height: 5.5rem;
}

nav img {
  width: 9rem;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  gap: 2rem;
  color: #899FBF;
  font-size: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #899FBF;
}

nav button {
  height: 2.5rem;
  width: 5rem;
  font-size: 1rem;
  border-radius: 100px;
  background: linear-gradient(to right, #3A8EF6, #6F3AFA);
  color: white;
}

.part-1 {
  width: auto;
  height: 550px;
  background-image: url(/img/cadeira1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.box-txt {
  width: 760px;
  height: 390px;
  border-radius: 60px;
  background-color: #E6F0F7;
  opacity: 0.9;
  position: inherit;
  float: right;
  margin: 5rem 40px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.txthp {
  margin-top: -40px;
}

.box-txt h1 {
  font-size: 42px;
  font-weight: bold;
}

.txthp p {
  margin-top: 30px;
  font-size: 18px;
  color: #6c87ae;
}

.gradiente {
  background-image: linear-gradient(to right, #3A8EF6, #6F3AFA); /* Definindo o gradiente */
  -webkit-background-clip: text; /* Aplica o gradiente ao texto */
  color: transparent; /* Torna o fundo do texto transparente */
}

.botao {
  font-weight: bold;
  text-align: center;
  border-radius: 25px; /* Bordas arredondadas */
  background-image: linear-gradient(to right, #3A8EF6, #6F3AFA); /* Gradiente de fundo */
  color: white; /* Cor do texto */
  border: none; /* Remove a borda padrão */
  cursor: pointer;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.35); /* Sombra do texto */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transições suaves para interação */
}

.botao:hover {
  transform: translateY(-3px); /* Eleva o botão ao passar o mouse */
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2); /* Sombra mais intensa no hover */
}

.txthp button {
  font-size: 1rem;
  width: calc(40% + 1rem);
  height: 2.7rem;
  margin-top: 60px;
}

.part-2 {
  margin: 0 200px 0 200px;
}

.part-2 .convenios .cima {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  color: #899FBF;
}

.part-2 .convenios .cima hr {
  border: none;
  height: 2px;
  background-color: #899FBF;
  width: 20rem;
}

.part-2 .convenios .imgs-con {
  display: flex;
  justify-content: center;
  gap: 70px;
  align-items: center;
}

.part-2 .convenios .imgs-con img {
  width: 160px;
  height: auto;
}

.part-2 .convenios .baixo {
  display: flex;
  justify-content: center;
}

.part-2 .convenios .baixo hr {
  border: none;
  height: 2px;
  background-color: #899FBF;
  width: 100%;
}

.part-2 .info-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
}

.info-1 .direita img {
  width: 500px;
  border-radius: 20px;
}

.info-1 .esquerda h2 {
  font-size: 32px;
}

.info-1 .esquerda p {
  margin-top: 20px;
}

.part-2 .info-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
}

.info-2 .esquerda img {
  width: 500px;
  height: 340px;
  border-radius: 20px;
  object-fit: cover;
}

.info-2 .direita h2 {
  font-size: 32px;
}

.info-2 .direita p {
  margin-top: 20px;
}

.part-2 .info-3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
}

.info-3 .direita img {
  width: 500px;
  border-radius: 20px;
}

.info-3 .esquerda h2 {
  font-size: 32px;
}

.info-3 .esquerda p {
  margin-top: 20px;
}

.input-group {
  position: relative;
}

.input-icone {
  padding-right: 4rem;
}

.icon {
  position: absolute;
  font-size: 2.5rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.icon--light {
  color: #3a8ef6;
}
.icon--white {
  color: #fffdfc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CABEÇALHO */
header {
  background-color: #FFFDFC;
  width: 100vw;
  height: 6rem;
  border-bottom-left-radius: 2.2rem;
  border-bottom-right-radius: 2.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

nav {
  display: flex;
  gap: 1.5rem;
}

#logo {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  background: linear-gradient(50deg, #3A8EF6, #6F3AFA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar {
  color: rgb(112, 107, 107);
  font-family: "Sora", sans-serif;
}

#perfil img {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: 0.5em;
}

#perfil {
  background: linear-gradient(90deg, #3A8EF6, #6F3AFA);
  border-radius: 2rem;
  width: 12rem;
  height: 3rem;
  display: flex;
  align-items: center;
  color: white;
}

#nome {
  margin-left: 0.5em;
  display: flex;
  flex-direction: column;
  font-family: "Sora", sans-serif;
}

/* Corpo-da-página agenda*/
.container {
  background-color: #FFFDFC;
  border-radius: 2rem;
  width: 80vw;
  padding-bottom: 6rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  box-shadow: 0 5px 15px rgb(20, 20, 20);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: stretch;
  justify-content: flex-start;
  align-items: center;
}

.container h2 {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(90deg, #3A8EF6, #6F3AFA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 2rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

/* INPUTS */
.box_text {
  display: flex;
  flex-direction: column;
}

.box-text1 {
  background: #FFFDFC;
  border: solid 0.2px rgb(205, 204, 204);
  box-shadow: 0 5px 15px rgba(0, 0, 30, 0.2);
  margin-top: 2rem;
  padding-left: 1rem;
  width: 35rem;
  height: 3rem;
}

/* BOTÃO DE SALVAR DA PAGINA ENTRAR */
.botao_salvar {
  display: flex;
  flex-direction: column;
  justify-items: center;
  pointer-events: painted;
}

.entrar_criar {
  background: linear-gradient(90deg, #3A8EF6, #6F3AFA);
  border: none;
  border-radius: 1rem;
  width: 35rem;
  height: 3rem;
  margin-top: 2rem;
  color: white;
  font-family: "Sora", sans-serif;
}

.entrar_criar:hover {
  transform: translateY(-3px);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.entrar_criar a {
  text-decoration: none;
}

/* PRONTUARIO */
/* CORPO DO PRONTUARIO */
.container_prontuario {
  background-color: #FFFDFC;
  border-radius: 2rem;
  width: 80vw;
  padding-bottom: 6rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  box-shadow: 0 5px 15px rgb(20, 20, 20);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  justify-content: flex-start;
  align-items: center;
}

/* TÍTULO DO PRONTUÁRIO */
.container_prontuario h2 {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(90deg, #3A8EF6, #6F3AFA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 2rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

/* FOTO DO PERFIL */
.foto_perfil img {
  width: 10rem;
  height: 10rem;
}

.foto_perfil {
  display: flex;
}

/* BOTÃO DE INICIAR CONSULTA */
.botao_iniciar_consulta {
  font-family: "Sora", sans-serif;
  text-align: center;
  border-radius: 50rem;
  background-image: linear-gradient(to right, #3A8EF6, #6F3AFA);
  color: white;
  border: none;
  cursor: pointer;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.35);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 15rem;
  height: 3rem;
  margin-bottom: 3.2rem;
}

.botao_iniciar_consulta:hover {
  transform: translateY(-3px);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.iniciar_consulta {
  width: 100%;
  margin-left: 10em;
  display: flex;
}

/* BARRA DE DADOS DO PACIENTE */
.barra_de_dados {
  background: linear-gradient(90deg, #3A8EF6, #6F3AFA);
  width: 50rem;
  height: 3.6rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.barra_de_dados p {
  color: white;
  font-family: "Sora", sans-serif;
}

.itens-prontuario {
  display: flex;
  flex-direction: column;
  margin-left: 2.5rem;
}

/* BARRA DE OPÇOES DE ESCOLHA DE TELA */
.barra_opcoes {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.botao_opcoes {
  background: linear-gradient(90deg, #3A8EF6, #6F3AFA);
  border: solid 0.5px;
  border-radius: 1rem;
  width: 10.8rem;
  height: 5rem;
  font-family: "Sora", sans-serif;
  color: white;
  margin: 1rem;
  margin-left: 5.6em;
}

.botao_opcoes:hover {
  transform: translateY(-3px);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.opcoes_descricao {
  display: flex;
  width: 100%;
}

.descricao {
  border-radius: 1rem;
  margin-left: 1.5rem;
  margin-top: 2rem;
}

.descricao textarea {
  width: 49rem;
  height: 19rem;
  border-radius: 1rem;
  background-color: #EEEEEE;
  padding: 1rem;
  font-size: 1rem;
  font-family: "Sora", sans-serif;
  color: gray;
}

/* PÁGINA DE LOGIN */
#logo_pagina_login {
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  font-size: 2rem;
  background: linear-gradient(50deg, #3A8EF6, #6F3AFA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.subtitulo_login {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 2.1rem;
  background: linear-gradient(50deg, #3A8EF6, #6F3AFA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#esqueceu_a_senha {
  display: flex;
  margin-top: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: "Sora", sans-serif;
}

#esqueceu_a_senha a {
  background: linear-gradient(10deg, #3A8EF6, #6F3AFA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.botao_entrar {
  display: flex;
  flex-direction: column;
  justify-items: center;
  pointer-events: painted;
}

.entrar_criar {
  background: linear-gradient(90deg, #3A8EF6, #6F3AFA);
  border: none;
  border-radius: 1rem;
  width: 35rem;
  height: 3rem;
  margin-top: 1rem;
  color: white;
  font-family: "Sora", sans-serif;
}

.entrar_criar:hover {
  transform: translateY(-3px);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.entrar_criar a {
  text-decoration: none;
}

.header {
  background-color: #fffdfc;
  display: flex;
  width: 100vw;
  height: 6rem;
  padding: 0 10rem;
  border-bottom-left-radius: 2.2rem;
  border-bottom-right-radius: 2.2rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /* Corpo-da-página */
}
.header__logo {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  background: linear-gradient(50deg, #3a8ef6, #6f3afa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__nav {
  display: flex;
  gap: 3rem;
}
.header__nav-item {
  color: rgb(112, 107, 107);
  font-family: "Sora", sans-serif;
  text-decoration: none;
}
.header__nav-item--selected {
  color: #3a8ef6;
  border-bottom: 3px solid #3a8ef6;
}
.header__nav-item:hover {
  color: #3a8ef6;
}
.header__profile-container {
  border-radius: 3rem;
  width: 20rem;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fffdfc;
  background: linear-gradient(90deg, #3a8ef6, #6f3afa);
}
.header__profile-img {
  border-radius: 50%;
  width: 4rem;
  margin-left: -1rem;
}
.header__profile-name-container {
  display: flex;
  flex-direction: column;
  font-family: "Sora", sans-serif;
}
.header__profile-name-role {
  font-size: 1rem;
}
.header .container {
  background-color: #fffdfc;
  border-radius: 2rem;
  min-height: 20em;
  margin: 5rem;
  box-shadow: 0px 5px 6px 0px rgba(20, 20, 20, 0.5);
}

/*# sourceMappingURL=estilo.css.map */
