*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; //10px = 1 rem
}
body {
  font-family: "Sora", sans-serif;
  font-size: $font-size--normal;
  height: 100vh;
}
