//CORES
$primary-color--light: #3a8ef6;
$primary-color--dark: #6f3afa;
$color-invalid: #f29092;
$color-valid: #67d565;
$color-focus: #93b4ff;
$color-gray: grey;
$color-ice-white: #fffdfc;


//FONTES
$font-size--smallest: 0.7rem;
$font-size--small: 1rem;
$font-size--normal: 1.6rem;
$font-size--big: 2rem;
$font-size--biggest: 2.5rem;




//MIXINS
@mixin color-gradiant{ 
  background-color: linear-gradient(
  to right,
  $primary-color--light,
  $primary-color--dark
)};