// Barra de dados da agenda

.barra_de_dados1 {
    background: linear-gradient(90deg, #3A8EF6, #6F3AFA);
    width: 50rem;
    height: 3.6rem;
    border-radius: 1rem;
    margin-bottom: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.barra_de_dados1 p {
    color: white;
    font-family: "Sora", sans-serif;
    
}

.itens-prontuario{
    display: flex;
    flex-direction: column;
    margin-left: 2.5rem;
}

// Barra de dados com chekbox

.barra_de_dados1 input{
    width: rem;
}

// Botão de adicionar mais consultas

.botao_criar_consulta{
    display: flex;
    flex-direction: column;
    justify-items: center;
    pointer-events: painted;
    align-items: center;
}

.criar_consulta{
    background: linear-gradient(90deg, #3A8EF6, #6F3AFA);
    border: none; 
    border-radius: 1rem; 
    width: 40rem;
    height: 3.3rem;
    margin-top: 1rem;
    color: white;
    font-family: "Sora", sans-serif;
    font-size: 1.5rem;
}

.criar_consulta:hover {
    transform: translateY(-3px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.criar_consulta a {
    text-decoration: none;
}