.consultas-agendadas__container{
  display: grid;
  grid-template-columns: [inicio] minmax(3rem, 1fr) [inicio-fim inicio-repeat] repeat(10,[col-start] 1fr [col-end]) [fim-inicio] minmax(3rem, 1fr) [fim];
  grid-template-rows: repeat(2,[row-start]3rem[row-end]);
  background-color: #ff000030;
}