/*PÁGINA DE PERFIS - LISTA*/

.input-group {
  position: relative;
}

.input-icone {
  padding-right: 4rem;
}

.icon {
  position: absolute;
  font-size: $font-size--biggest;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  &--light{
    color: $primary-color--light;
  }
  &--white{
    color: $color-ice-white;
  }
}

.perfis__grid-list-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
  align-content: center;
}

.perfil__rodape-container{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-content: center;
  margin-top: 3rem;
  align-self: center;
}

.perfil__name{
  margin-bottom: 4rem;
}
.perfil__group-label{
  display: flex;
  align-items: center;
  label{
    flex-shrink: 0;
    margin-right: 0.5rem;
  }
}